* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: left;
    background: linear-gradient(to right, rgb(213, 77, 213), rgb(109, 192, 224));
}

nav a:hover {
    color: aqua;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to bottom, rgb(79, 215, 79), rgb(216, 74, 74));
    height: 100vh; /* Set height to cover full viewport height */
    margin: 0; /* Remove default body margin */
}

.container {
    height: 100%; /* Set container height to fill the body */
}

.wan {
    margin-top: 10%;
}

h1 {
    font-size: 3rem;
    color: beige;
    font-family: sans-serif;
}

h4 {
    font-size: 1.5rem;
    gap: 80%;
    color: beige;
    font-family: sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.tre {
    color: aqua;
}

.tre:hover {
    color: rgb(234, 57, 104);
}
